.vscode
!configurations/linux/.vscode
.clangd
.cache
.vs
CMakeCache.txt
cmake_install.cmake
CMakeFiles
Makefile

build
dependencies/glfw/
dependencies/SFML/
dependencies/glad
lib
deploy

include/SFML
include/glm
include/GLFW
include/glad
include/KHR
include/redhand/glad
include/redhand/KHR

obj-x86_64-linux-gnu
share
upstream

textures/*
!textures/open/

debian/*
!debian/control
!debian/rules
!debian/libredhand.install
!debian/changelog
!debian/source
!debian/compat
!debian/copyright
!debian/libredhand-dev.install
!libredhand-doc.manpages
!debian/patches
!debian/watch
*.deb
*.ddeb
*.changes
*.build
*.dsc
*.buildinfo
*.tar.xz
*.tar.gz

!meson.build

doc/html
doc/def
doc/man
doc/xml
!doc/markdown
!logo

src/glad.c

doc/xml/

doc/__pycache__/

subprojects/glfw3/
subprojects/glm/
subprojects/glib/


subprojects/libffi

subprojects/redhand-testgame

subprojects/glm-0.9.9.8/

subprojects/packagecache/
