.vscode
!configurations/linux/.vscode
.vs
CMakeCache.txt
cmake_install.cmake
CMakeFiles
Makefile

build
dependencies/glfw/
dependencies/SFML/
dependencies/glad
lib
deploy

include/SFML
include/glm
include/GLFW
include/glad
include/KHR

obj-x86_64-linux-gnu
share

textures/*
!textures/open/

debian/*
!debian/control
!debian/rules
!debian/libredhand.install
!debian/changelog
!debian/source
!debian/compat
!debian/copyright




doc

src/glad.c
