[submodule "include/gitglm"]
	path = include/gitglm
	url = https://github.com/g-truc/glm
[submodule "testgame"]
	path = testgame
	url = https://github.com/noah1510/redhand-testgame.git
[submodule "doc/m.css"]
	path = doc/m.css
	url = git://github.com/mosra/m.css