[submodule "include/gitglm"]
	path = include/gitglm
	url = https://github.com/g-truc/glm
[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dependencies/gladRepo"]
	path = dependencies/gladRepo
	url = https://github.com/Dav1dde/glad
[submodule "testgame"]
	path = testgame
	url = https://github.com/noah1510/redhand-testgame.git
[submodule "doc/m.css"]
	path = doc/m.css
	url = git://github.com/mosra/m.css
[submodule "dependencies/openal-soft"]
	path = dependencies/openal-soft
	url = https://github.com/kcat/openal-soft.git
