name: create automatic development release

inputs:
  repoToken:
    description: "GitHub secret token"
    required: true

jobs:
  pre-release:
    name: "Pre Release"
    runs-on: "windows-latest"

    steps:
    - uses: actions/checkout@v2
      with: 
        lfs: true
    - name: install dependencies
      run:  bash scripts/dependencies.sh --ci
    - name: setup the project
      run:  bash scripts/setup.sh --ci
    - name: build library
      run:  bash scripts/build.sh -j 2 -o $GITHUB_SHA
    - name: compress header files
      run: zip deploy/headers.zip include/redhand/**
    - uses: "marvinpinto/action-automatic-releases@latest"
      with:
        repo_token: repoToken
        automatic_release_tag: "latest"
        prerelease: true
        title: "Development Build"
        files: |
          deploy/libredhand.dll
          deploy/headers.zip
