Source: libredhand
Priority: optional
Maintainer: Noa Sakurajin <noasakurajin@web.de>
Build-Depends: debhelper (>= 10), cmake (>= 3.10.2),  gcc (>= 7.4.0), libglfw3 (>=3.2.1-1), libglm-dev (>=0.9.0)
Standards-Version: 4.1.2
Section: libs
#Homepage: <insert the upstream URL, if relevant>
Vcs-Git: https://github.com/noah1510/redhand
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/libredhand.git

Package: libredhand
Architecture: amd64
Multi-Arch: same
Depends: libglfw3 (>=3.2.1-1), libglm-dev (>=0.9.0)
Description: a small and easy to use game development library
