#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

DEVNUL := /dev/null
WHICH := which

check_comp := $(if $(shell ${WHICH} $(1) 2>${DEVNUL}),$(1),)

C_comps = clang-13 clang-12 clang-11 clang-10 clang-9 gcc-10 gcc-9
CXX_comps = clang++-13 clang++-12 clang++-11 clang++-10 clang++-9 g++-10 g++-9

C_comp := $(foreach comp,$(C_comps),$(if $(shell ${WHICH} $(comp) 2>${DEVNUL} ),$(comp),))

CXX_comp := $(foreach comp,$(CXX_comps),$(if $(shell ${WHICH} $(comp) 2>${DEVNUL} ),$(comp),))

build:
	rm -rf doc/man doc/html doc/def
	doxygen
	rm -rf dependencies && git clone https://github.com/Dav1dde/glad.git dependencies/gladRepo
	cd dependencies/gladRepo && python3 -m glad --generator=c --extensions=GL_EXT_framebuffer_multisample,GL_EXT_texture_filter_anisotropic --out-path="../glad" --reproducible --profile core
	cp -r "dependencies/glad/include" "."
	mkdir -p "include/redhand/glad"
	mkdir -p "include/redhand/KHR"
	cp -r "dependencies/glad/include/glad/glad.h" "include/redhand/glad"
	cp -r "dependencies/glad/include/KHR/khrplatform.h" "include/redhand/KHR"
	cp -r "dependencies/glad/src/glad.c" "src"
	dh_testdir
	dh_auto_configure -- -DBUILDGLFW="0" -DREPOROOT="$(shell pwd)" -DCMAKE_C_COMPILER="$(word 1,$(C_comp))" -DCMAKE_CXX_COMPILER="$(word 1,$(CXX_comp))"
	dh_auto_build
	dh_auto_test

clean:
	bash scripts/clean.sh
	dh_testdir
	dh_auto_clean
	dh_clean

override_dh_strip:
	dh_strip --dbg-package=libredhand-dbg


%:
	dh $@
