#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

#C_comp :=
#C_comp := $(foreach comp,"clang-12" "clang-11" "clang-10" "clang-9" "gcc-10" "gcc-9",$(if command -v $(comp) 2>/dev/null,$(comp),))

#CXX_comp :=
#CXX_comp := $(foreach comp,"clang++-13 clang++-12" "clang++-11" "clang++-10" "clang++-9" "g++-10" "g++-9",$(if $(@sh command -v $$comp 2>/dev/null),$(@sh command -v $$comp),))

build:
	doxygen
	dh_testdir
	#dh_auto_configure -- -DBUILDGLFW="0" -DREPOROOT="$(shell pwd)" -DCMAKE_C_COMPILER="$(word 1,$(C_comp))" -DCMAKE_CXX_COMPILER="$(word 1,$(CXX_comp))"
	@eval ./scripts/configure_compiler.sh
	dh_auto_configure -- -DBUILDGLFW="0" -DREPOROOT="$(shell pwd)" -DCMAKE_C_COMPILER="$(CC)" -DCMAKE_CXX_COMPILER="$(CXX_comp)"
	dh_auto_build
	dh_auto_test

clean:
	bash scripts/clean.sh
	dh_testdir
	dh_auto_clean
	dh_clean

override_dh_strip:
	dh_strip --dbg-package=libredhand-dbg


%:
	dh $@
