name: create automatic debian release

on:
  push:
    branches:
      - dev-noa

jobs:
  setup:
    name: build and publish deb
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
      with: 
        lfs: true
    - name: install dependencies
      run:  bash scripts/dependencies.sh --ci
    - name: setup the project
      run:  bash scripts/setup.sh --ci
    - name: install additional dependencies
      run: sudo apt install gpg debhelper dput openssl libdistro-info-perl dh-make graphviz
    - name: configure gpg key and environment
      run: 
        echo "${{ secrets.GPG_SECRET_KEY }}" | openssl enc -base64 -d | gpg --import && 
        echo "DEBUILD_DPKG_BUILDPACKAGE_OPTS=\"-k0xA82A68B9A35079F860E1C6ADB5B78B08943AE8A6\"" > ~/.devscripts && 
        echo "export DEBFULLNAME=\"Github actions bot\" \n export DEBEMAIL=\"noasakurajin@web.de\"" > ~/.bashrc 
    - name: update release version
      run: 
        dch --distribution bionic -l+git"$GITHUB_SHA" ${{ github.event.head_commit.message }}
    - name: build package
      run: debuild -S -sa
    - name: publish package
      run: dput ppa:noasakurajin/libredhand ../*.changes



