name: create automatic debian release

on:
  push:
    branches:
      - main

jobs:
  doxygen:
    runs-on: ubuntu-latest
    needs: windows
    steps:
    - uses: actions/checkout@v1
    - name: generate docs
      run: ./scripts/docs.sh --init
    - name: Deploy
      uses: s0/git-publish-subdir-action@master
      env:
        REPO: self
        BRANCH: gh-pages
        FOLDER: doc/html
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  ubuntu:
    name: build, test and publish deb source
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
      with: 
        lfs: false
    - name: install dependencies
      run:  bash scripts/dependencies.sh --ci
    - name: build library
      run:  bash scripts/build.sh --ci -j 2 -o $GITHUB_SHA
    - name: create source package
      run: tar -czf deploy/source.tar.gz include/redhand/** scripts/** src/** meson.build meson_options.txt README.md doc/markdown/** Doxyfile LICENSE debian/** subprojects/*
    - uses: actions/upload-artifact@v2
      with:
        name: source-package
        path: deploy/source.tar.gz
    - uses: actions/upload-artifact@v1
      if: failure()
      with:
        name: build-artifact-linux
        path: .
  windows:
    name: windows build and test latest release
    runs-on: windows-latest
    needs: ubuntu
    steps:
    - uses: actions/checkout@v2
      with: 
        lfs: false
    - uses: actions/setup-python@v1
    - name: Install LLVM and Clang
      uses: KyleMayes/install-llvm-action@v1
      with:
        version: "10.0"
        directory: ${{ runner.temp }}/llvm
    - name: install glad
      run: pip install glad
    - uses: BSFishy/meson-build@v1.0.2
      name: build llvm/clang
      env:
        CXX: clang++
        CC: clang
      with:
        action: test
        directory: build
        options: --verbose
        meson-version: 0.56.1
    - name: compress header files
      shell: powershell
      run: 7z a -r deploy/headers.zip include/redhand/**
    - name: create source folder and copy files
      run: mkdir upstream upstream/include upstream/include/redhand upstream/doc upstream/doc/markdown && cp -r src/ meson.build README.md Doxyfile meson_options.txt LICENSE subprojects/* scripts/ debian/ upstream && cp -r include/redhand upstream/include && cp -r doc/markdown upstream/doc
    - name: Download a single artifact
      uses: actions/download-artifact@v2
      with:
        name: source-package
        path: .
    - uses: "marvinpinto/action-automatic-releases@latest"
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: "latest"
        prerelease: true
        title: "Development Build"
        files: |
          deploy/libredhand.dll
          deploy/headers.zip
          source.tar.gz
    - name: Deploy
      uses: s0/git-publish-subdir-action@master
      env:
        REPO: self
        BRANCH: upstream-main
        FOLDER: upstream
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - uses: actions/upload-artifact@v1
      if: failure()
      with:
        name: build-artifact-windows
        path: .
