name: create automatic debian release

on:
  push:
    branches:
      - main

jobs:
  doxygen:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: generate docs
      run: ./scripts/docs.sh --init
    - name: Deploy
      uses: s0/git-publish-subdir-action@master
      env:
        REPO: self
        BRANCH: gh-pages
        FOLDER: doc/html
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  ubuntu:
    name: build, test and publish deb source
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
      with: 
        lfs: false
    - name: install dependencies
      run:  bash scripts/dependencies.sh --ci
    - name: setup the project
      run:  bash scripts/setup.sh --ci
    - name: build library
      run:  bash scripts/build.sh --ci -j 2 -o $GITHUB_SHA
    - name: build testgame
      run:  bash testgame/scripts/build.sh -j 2 -o "testgame-$GITHUB_SHA"
    - uses: actions/upload-artifact@v1
      if: failure()
      with:
        name: build-artifact-linux
        path: .
  windows:
    name: windows build and test latest release
    runs-on: windows-latest
    needs: ubuntu
    defaults:
      run:
        shell: msys2 {0}
    steps:
    - uses: actions/checkout@v2
      with: 
        lfs: false
    - uses: msys2/setup-msys2@v1
      with:
        update: true
    - name: install dependencies
      run:  bash scripts/dependencies.sh --ci
    - name: setup the project
      run:  bash scripts/setup.sh --ci
    - name: build library
      run:  bash scripts/build.sh -j 2 -o $GITHUB_SHA
    - name: build testgame
      run:  bash testgame/scripts/build.sh -j 2 -o "testgame-$GITHUB_SHA"
    - name: compress header files
      shell: powershell
      run: 7z a -r deploy/headers.zip include/redhand/**
    - name: create source package
      shell: powershell
      run: tar -czf deploy/source.tar.gz include/redhand/** scripts/** src/** CMakeLists.txt README.md doc/markdown/** Doxyfile LICENSE debian/**
    - name: create source folder and copy files
      run: mkdir upstream upstream/include upstream/include/redhand upstream/doc upstream/doc/markdown && cp -r src/ CMakeLists.txt README.md Doxyfile LICENSE scripts/ debian/ upstream && cp -r include/redhand upstream/include && cp -r doc/markdown upstream/doc
    - uses: "marvinpinto/action-automatic-releases@latest"
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: "latest"
        prerelease: true
        title: "Development Build"
        files: |
          deploy/libredhand.dll
          deploy/headers.zip
          deploy/source.tar.gz
    - name: Deploy
      uses: s0/git-publish-subdir-action@master
      env:
        REPO: self
        BRANCH: upstream-main
        FOLDER: upstream
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - uses: actions/upload-artifact@v1
      if: failure()
      with:
        name: build-artifact-linux
        path: .
