name: "tagged-release"

on:
  push:
    tags:
      - "v*"

jobs:
  ubuntu:
    name: build, test and publish deb-source
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
      with: 
        lfs: false
    - name: install dependencies
      run:  bash scripts/dependencies.sh --ci
    - name: build library
      run:  bash scripts/build.sh --ci -j 2 -o $GITHUB_SHA
    - name: get testgame
      run: cd .. && git clone https://github.com/noah1510/redhand-testgame.git
    - name: build testgame
      run:  cd ../redhand-testgame && bash scripts/build.sh -j 2
    - name: create source package
      run: tar -czf deploy/source.tar.gz include/redhand/** scripts/** src/** meson.build meson_options.txt subprojects/* README.md doc/markdown/** Doxyfile LICENSE debian/**
    - uses: actions/upload-artifact@v2
      with:
        name: source-package        
        path: deploy/source.tar.gz
    - uses: actions/upload-artifact@v1
      if: failure()
      with:
        name: build-artifact-linux
        path: .
  windows:
    name: windows build and test latest release
    runs-on: windows-latest
    needs: ubuntu
    defaults:
      run:
        shell: msys2 {0}
    steps:
    - uses: actions/checkout@v2
      with: 
        lfs: false
    - uses: msys2/setup-msys2@v1
      with:
        update: false
    - name: install dependencies
      run:  bash scripts/dependencies.sh --ci
    - name: build library
      run:  bash scripts/build.sh -j 2 -o $GITHUB_SHA
    - name: get testgame
      run: cd .. && git clone https://github.com/noah1510/redhand-testgame.git
    - name: build testgame
      run:  cd ../redhand-testgame && bash scripts/build.sh -j 2
    - name: compress header files
      shell: powershell
      run: 7z a -r deploy/headers.zip include/redhand/**
    - name: Download a single artifact
      uses: actions/download-artifact@v2
      with:
        name: source-package
        path: .
    - uses: "marvinpinto/action-automatic-releases@latest"
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        prerelease: true
        title: "tagged release"
        files: |
          deploy/libredhand.dll
          deploy/headers.zip
          source.tar.gz
    - uses: actions/upload-artifact@v1
      if: failure()
      with:
        name: build-artifact-windows
        path: .
